.movie-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 32px;
  padding: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
