/* styles.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Remove margin for Firefox */
}

input[type="number"] {
    -moz-appearance: textfield; /* Remove spinner for Firefox */
}
